h2 {
    color: rgb(145, 199, 18);
    border: 1px solid black; 
}

.subHeading{
   color: gray;
}

body{

    background-color: black;
    color: white;

}

.mainPara{
     margin: 0px 0px 0px 40px;
}

.eduTablez{
    margin: 40px;
}

.eduTable td,
.eduTable th {
     padding: 10pxx 20px 10px 20px;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
 
.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}














